In [15]:
import pandas as pd
import glob

In [16]:
# Upload all csv files that we screpe last days 
path =r'C:\Users\baraziroi\Desktop\Course_Notebooks\Data science\final project\FINAL_PROJECT\data\CoronadataAfterClean&merge\Corona_clean_Data'
filenames = glob.glob(path + "/*.csv")

dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename))
print(len(dfs))
dfs[16]

18

,Unnamed: 0,Unnamed: 0.1,CountryOther,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,SeriousCritical,...,Cases,Deaths,Confirmed cases in the last 14 days,Attainment of goals / Health / Level (DALE),Attainment of goals / Health / Distribution,Attainment of goals / Health / Overall goal attainment,Health expenditure per capita in international dollars,Performance / On level of health,Performance / Overall health system performance,date
0,0,0,Afghanistan,2469,134,72,4,331,2066,7,...,2335,68,1490,164,182,183,184,150,173,05-02-2020
1,1,1,Albania,789,7,31,0,519,239,4,...,782,31,243,102,128,86,149,64,55,05-02-2020
2,2,2,Algeria,4295,141,459,6,1872,1964,22,...,4154,453,1736,44,63,56,24,45,81,05-02-2020
3,3,3,Andorra,747,2,44,1,472,231,17,...,746,43,50,10,25,17,23,7,4,05-02-2020
4,4,4,Angola,35,5,2,0,11,22,0,...,29,2,10,165,178,181,164,165,181,05-02-2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,136,136,Venezuela,345,10,10,0,148,187,2,...,335,10,108,52,76,65,68,29,54,05-02-2020
137,137,137,Vietnam,270,0,0,0,219,51,8,...,270,0,2,116,104,140,147,130,160,05-02-2020
138,138,138,Yemen,10,3,2,0,1,7,0,...,7,2,6,141,165,146,182,82,120,05-02-2020
139,139,139,Zambia,119,10,3,0,75,41,1,...,109,3,57,188,171,174,148,190,182,05-02-2020
140,140,140,Zimbabwe,34,0,4,0,5,25,0,...,34,4,10,184,98,147,110,191,155,05-02-2020

In [17]:
### I tried to add a date columns but I haven't had time fix that so I Fill in the dates columns manually 

#for i in range(len(dfs)):
    #dfs[i]['date'] = pd.date_range(start='4/16/2020', periods=len(dfs[i]), freq='D')

#dfs[17]['date']='05-03-2020' 
#dfs[17].to_csv(r'C:\Users\baraziroi\Desktop\Course_Notebooks\Data science\final project\FINAL_PROJECT\data\CoronadataAfterClean&merge\Corona_clean_Data\Corona_clean_Data_018.csv')

In [18]:
### drop the unnecessary column
for i in range(len(dfs)):
    dfs[i]=dfs[i].drop(['Unnamed: 0'], axis=1)

In [19]:
### Reindexing the DFs
for i in range(len(dfs)):
    dfs[i] = dfs[i].set_index('CountryOther')

In [31]:
dfs[16]

,Unnamed: 0.1,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,SeriousCritical,TotCases-1Mpop,Deaths-1M pop,...,Cases,Deaths,Confirmed cases in the last 14 days,Attainment of goals / Health / Level (DALE),Attainment of goals / Health / Distribution,Attainment of goals / Health / Overall goal attainment,Health expenditure per capita in international dollars,Performance / On level of health,Performance / Overall health system performance,date
CountryOther,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,2469,134,72,4,331,2066,7,63.0,2.00,...,2335,68,1490,164,182,183,184,150,173,05-02-2020
Albania,1,789,7,31,0,519,239,4,274.0,11.00,...,782,31,243,102,128,86,149,64,55,05-02-2020
Algeria,2,4295,141,459,6,1872,1964,22,98.0,10.00,...,4154,453,1736,44,63,56,24,45,81,05-02-2020
Andorra,3,747,2,44,1,472,231,17,9668.0,569.00,...,746,43,50,10,25,17,23,7,4,05-02-2020
Angola,4,35,5,2,0,11,22,0,1.0,0.06,...,29,2,10,165,178,181,164,165,181,05-02-2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,136,345,10,10,0,148,187,2,12.0,0.40,...,335,10,108,52,76,65,68,29,54,05-02-2020
Vietnam,137,270,0,0,0,219,51,8,3.0,0.00,...,270,0,2,116,104,140,147,130,160,05-02-2020
Yemen,138,10,3,2,0,1,7,0,0.3,0.07,...,7,2,6,141,165,146,182,82,120,05-02-2020
Zambia,139,119,10,3,0,75,41,1,6.0,0.20,...,109,3,57,188,171,174,148,190,182,05-02-2020
Zimbabwe,140,34,0,4,0,5,25,0,2.0,0.30,...,34,4,10,184,98,147,110,191,155,05-02-2020

In [21]:
### Creat data frame with necessary columns
corona_df=pd.DataFrame()
for i in dfs:
    for j in i:
        if j=='TotalRecovered':
            total=i[j]
            corona_df[j]=total
        elif j=='TotalCases':
            total=i[j]
            corona_df[j]=total
        elif j=='TotalDeaths':
            total=i[j]
            corona_df[j]=total
        elif j=='ActiveCases':
            total=i[j]
            corona_df[j]=total
        elif j=='SeriousCritical':
            total=i[j]
            corona_df[j]=total
        elif j=='TotalTests':
            total=i[j]
            corona_df[j]=total
        continue
corona_df

,TotalCases,TotalDeaths,TotalRecovered,ActiveCases,SeriousCritical,TotalTests
CountryOther,,,,,,
Albania,795,31,531,233,7,8866
Algeria,4295,459,1872,1964,22,6500
Andorra,747,44,472,231,17,1673
Angola,35,2,11,22,0,481
Argentina,4681,241,1354,3086,157,65813
...,...,...,...,...,...,...
Venezuela,345,10,148,187,2,477790
Vietnam,271,0,219,52,8,261004
Yemen,10,2,1,7,0,120
Zambia,124,3,78,43,1,6882
Zimbabwe,34,4,5,25,0,7642

In [22]:
### Create confimed cases DF per day from lest few weeks for each country into a data frame
confirmedDf=pd.DataFrame()
for i in range(len(dfs)):
    confirmed=dfs[i]['Confirmed cases in the last 14 days']
    colname=dfs[i]['date'][-1]
    confirmedDf[colname]=confirmed
confirmedDf

,04-16-2020,04-17-2020,04-18-2020,04-19-2020,04-20-2020,04-21-2020,04-22-2020,04-23-2020,04-24-2020,04-25-2020,04-26-2020,04-27-2020,04-28-2020,04-29-2020,04-30-2020,05-01-2020,05-02-2020,05-03-2020
CountryOther,,,,,,,,,,,,,,,,,,
Albania,232,232,232,232,232,235,201,207,254,262,279,280,269,272,255,243,243,241
Algeria,1486,1486,1486,1486,1486,1313,1309,1295,1341,1366,1431,1468,1534,1688,1738,1736,1736,1760
Andorra,283,283,283,283,283,283,212,191,141,130,111,102,97,80,63,50,50,43
Angola,12,12,12,12,12,11,10,8,6,6,6,7,8,8,8,10,10,11
Argentina,1466,1466,1466,1466,1466,1299,1376,1392,1529,1448,1630,1564,1718,1840,1855,1861,1861,1840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,58,58,58,58,58,54,108,97,127,143,148,144,140,134,129,108,108,118
Vietnam,45,45,45,45,45,40,35,31,13,14,10,6,3,2,2,2,2,2
Yemen,1,1,1,1,1,1,1,1,0,0,0,0,0,5,5,6,6,9
Zambia,10,10,10,10,10,12,22,26,37,44,44,45,44,49,58,57,57,62
Zimbabwe,9,9,9,9,9,15,16,16,18,18,17,17,15,17,16,10,10,9

In [23]:
corona_df.to_csv(r'C:\Users\baraziroi\Desktop\Course_Notebooks\Data science\final project\FINAL_PROJECT\data\CoronadataAfterClean&merge\Corona_data_frame\corona_df.csv')

In [24]:
confirmedDf.to_csv(r'C:\Users\baraziroi\Desktop\Course_Notebooks\Data science\final project\FINAL_PROJECT\data\CoronadataAfterClean&merge\Confirmed_cases\Confirmed_cases.csv')

In [25]:
### Create total death DF per day from lest few weeks for each country into a data frame
totalDeathsDf=pd.DataFrame()
for i in range(len(dfs)):
    totalDeath=dfs[i]['TotalDeaths']
    colname=dfs[i]['date'][-1]
    totalDeathsDf[colname]=totalDeath
totalDeathsDf.head()

,04-16-2020,04-17-2020,04-18-2020,04-19-2020,04-20-2020,04-21-2020,04-22-2020,04-23-2020,04-24-2020,04-25-2020,04-26-2020,04-27-2020,04-28-2020,04-29-2020,04-30-2020,05-01-2020,05-02-2020,05-03-2020
CountryOther,,,,,,,,,,,,,,,,,,
Albania,25,25,25,25,25,26,26,26,27,27,28,28,30,31,31,31,31,31
Algeria,326,326,336,336,336,348,384,392,407,419,419,425,432,444,450,459,459,459
Andorra,33,33,33,33,33,33,37,37,37,40,40,40,40,42,42,44,44,44
Angola,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Argentina,109,109,109,109,111,115,136,147,167,179,185,192,197,214,218,229,229,241

In [26]:
totalDeathsDf.to_csv(r'C:\Users\baraziroi\Desktop\Course_Notebooks\Data science\final project\FINAL_PROJECT\data\CoronadataAfterClean&merge\Total_deaths_df\Total_deaths_df.csv',header=True)

In [27]:
### Create total recovery DF per day from lest few weeks for each country into a data frame
totalRecoveredDf=pd.DataFrame()
for i in range(len(dfs)):
    totalRecovered=dfs[i]['TotalRecovered']
    colname=dfs[i]['date'][-1]
    totalRecoveredDf[colname]=totalRecovered
totalRecoveredDf.head()

,04-16-2020,04-17-2020,04-18-2020,04-19-2020,04-20-2020,04-21-2020,04-22-2020,04-23-2020,04-24-2020,04-25-2020,04-26-2020,04-27-2020,04-28-2020,04-29-2020,04-30-2020,05-01-2020,05-02-2020,05-03-2020
CountryOther,,,,,,,,,,,,,,,,,,
Albania,251,251,251,251,251,277,327,345,394,403,410,410,431,470,488,519,519,531
Algeria,691,691,708,708,708,783,1099,1152,1355,1479,1479,1508,1558,1702,1779,1872,1872,1872
Andorra,169,169,169,169,169,169,248,282,333,344,344,344,385,423,468,472,472,472
Angola,5,5,5,5,5,5,6,6,6,6,6,6,6,7,7,11,11,11
Argentina,596,596,596,596,596,631,737,840,976,1030,1030,1107,1140,1192,1256,1320,1320,1354

In [28]:
totalRecoveredDf.to_csv(r'C:\Users\baraziroi\Desktop\Course_Notebooks\Data science\final project\FINAL_PROJECT\data\CoronadataAfterClean&merge\Total_Recovered_df\Total_Recovered_df.csv',header=True)